<%- include('../../fragments/header.ejs'); %>
<%- include('./menu.ejs'); %>

<div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% catalog.forEach(catalog => { %>
                    <tr class="product-<%= catalog.id %>">
                        <td><%= catalog.id %></td>
                        <td><%= catalog.product %></td>
                        <td><%= catalog.price %></td>
                        <td><%= catalog.count %></td>
                        <td><button class="drop__product" data-id="<%= catalog.id %>" data-url="http://localhost:3000/api/catalog/<%= catalog.id %>">X</button></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
</div>

<%- include('../../fragments/footer.ejs'); %>
